<ion-header class="hm_bg_color hm_header">
		<button ion-button class="hm_header_btn hm_float_left hm_back_icon" (click)="goBack()"></button>
  <div class="hm_search_header">
	
  </div>
  <div class="hm_clear"></div>
</ion-header>
<ion-content class="hm_sign_bg">
<div class="hm_project">
  <div class="hm_project_tab">
	<ul>
		<li [class.active]="tab=='active'" (click)="tab_swap('active')"><span>.</span>Upcomming</li>
		<li [class.active]="tab=='inactive'" (click)="tab_swap('inactive')"><span>.</span>History</li>
	</ul>
  </div>
<div class="tabcontent" [hidden]="tab=='inactive'">
	<div class="hm_project_tab_content">
		<div class="hm_response">
			<div class="hm_response_right">
					<ion-chip (click)="contact()" color="secondary">
							<ion-label>Okay</ion-label>
				    </ion-chip>
			</div>
			<div class="hm_clear"></div>
		</div>
		 <ion-scroll scrollX="true" style="height:90px;">
			<div class="hm_response_list">
				<ul>
					<li *ngFor="let u of nextMedications" >
							<div    class="hm_catagory_item">
								<img (click)="viewMedicationDetails(u)" src="{{u.src}}">
						</div>
						
					</li>
				</ul>
			</div>
		 </ion-scroll>
		 <div class="hm_response">
			<div class="hm_response_left"><strong>Upcomming</strong></div>
			
			
		</div>
		<hr>
		<br>
		
		
		
		<div *ngFor="let u of medications"  class="hm_response">
				<div class="hm_response_left"><strong>{{u.time}}</strong></div>
				<div class="hm_response_right">
						<ion-chip (click)="viewUpcommingMedications(u)" color="primary">
								<ion-label>Okay</ion-label>
						</ion-chip>
				</div>
				<div class="hm_clear"></div>
			</div>
			
		</div>
</div>
<div class="tabcontent" [hidden]="tab=='active'" >
<div class="hm_project_tab_content">
	<div class="hm_response">
		<div class="hm_response_left"><strong>06:00:00</strong></div>
		<div class="hm_response_right">
				<ion-chip  color="secondary">
						<ion-label>View</ion-label>
				</ion-chip>	
		</div>
		<div class="hm_clear"></div>
	</div>
	<div class="hm_response">
			<div class="hm_response_left"><strong>04:00:00</strong></div>
			<div class="hm_response_right">
					<ion-chip (click)="contact(u)" color="danger">
							<ion-label>View</ion-label>
					</ion-chip>	
			</div>
			<div class="hm_clear"></div>
	</div>
	<div class="hm_response">
			<div class="hm_response_left"><strong>04:00:00</strong></div>
			<div class="hm_response_right">
					<ion-chip color="secondary">
							<ion-label>View</ion-label>
					</ion-chip>	
			</div>
			<div class="hm_clear"></div>
	</div>
	<div class="hm_response">
			<div class="hm_response_left"><strong>04:00:00</strong></div>
			<div class="hm_response_right">
					<ion-chip  color="secondary">
							<ion-label>View</ion-label>
					</ion-chip>	
			</div>
			<div class="hm_clear"></div>
	</div>
	</div>
</div>
</div>
</ion-content>
<ion-footer>
</ion-footer>
