
<ion-content class="hm_theme_trans_bg">
	<div class="hm_cancel_pop_div">
		<div class="hm_cancel_pop_main">
			<div class="hm_cancel_pop_upper">
				<img src="assets/img/hm_ques_mark.png">
				<p>Cancellation Reason</p>
			</div>
			<div class="hm_cancel_pop_lower">
				<ul>
					<li>
						<div class="hm_cancel_radio">
							<ion-radio ng-model="choice3" ng-value="'C'"></ion-radio>
						</div>
						<div class="hm_cancel_reason">
							 I have hired someone outside
						</div>
						<div class="hm_clear"></div>
					</li>
					<li>
						<div class="hm_cancel_radio">
							<ion-radio ng-model="choice3" ng-value="'C'"></ion-radio>
						</div>
						<div class="hm_cancel_reason">
							 I didn’t like the responses
						</div>
						<div class="hm_clear"></div>
					</li>
					<li>
						<div class="hm_cancel_radio">
							<ion-radio ng-model="choice3" ng-value="'C'"></ion-radio>
						</div>
						<div class="hm_cancel_reason">
							Professional asked me to cancel
						</div>
						<div class="hm_clear"></div>
					</li>
					<li>
						<div class="hm_cancel_radio">
							<ion-radio ng-model="choice3" ng-value="'C'"></ion-radio>
						</div>
						<div class="hm_cancel_reason">
							I have changed the plan
						</div>
						<div class="hm_clear"></div>
					</li>
					<li>
						<div class="hm_cancel_radio">
							<ion-radio ng-model="choice3" ng-value="'C'"></ion-radio>
						</div>
						<div class="hm_cancel_reason">
							I submitted the request by mistake
						</div>
						<div class="hm_clear"></div>
					</li>
				</ul>
				<div class="hm_cancel_bottom_bay">
					<li class="hm_cancel_cancel" (click)="dismiss()">Cancel</li>
					<li class="hm_cancel_submit" (click)="dismiss()">Submit</li>
				</div>
			</div>
		</div>
	</div>
</ion-content>
